body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.profile-pic {
    width: 200px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}
